<div class="card">
  <div class="card-header bg-primary text-white">
    <h2><%= @book.title %></h2>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs" id="bookTab" role="tablist" aria-label="書籍詳細タブ">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="details-tab"
          data-bs-toggle="tab"
          data-bs-target="#details-pane"
          type="button"
          role="tab"
          aria-controls="details-pane"
          aria-selected="true"
        >
          詳細
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="reviews-tab"
          data-bs-toggle="tab"
          data-bs-target="#reviews-pane"
          type="button"
          role="tab"
          aria-controls="reviews-pane"
          aria-selected="false"
        >
          レビュー
        </button>
      </li>
    </ul>

    <div class="tab-content mt-3" id="bookTabContent">
      <div
        class="tab-pane p-1 fade show active"
        id="details-pane"
        role="tabpanel"
        aria-labelledby="details-tab"
        tabindex="0"
      >
        <%= turbo_frame_tag "book-show" do %>
          <%= render "content", book: @book %>
        <% end %>
      </div>
      <div
        class="tab-pane p-1 fade"
        id="reviews-pane"
        role="tabpanel"
        aria-labelledby="reviews-tab"
        tabindex="0"
      >
        <%= render "reviews", book: @book %>
      </div>
    </div>
  </div>
</div>

<div class="mt-3">
  <%= link_to '一覧に戻る', books_path %>
</div>
